@import "tailwindcss";
@plugin "daisyui" {
  /* This allows you to use any of the 30+ built-in themes */
  themes: all;
}

@theme {
  --font-sans: var(--user-font, "Inter", sans-serif); /* Use your dynamic font */
  --color-page-bg: var(--background);
}